<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<!--
<style>
table {
	border: 0px;
}
thead tr td {
	border: 0px;
}
tbody td {
	padding-left: 5px;
	padding-right: 5px;
	border-top: 1px solid #f05024 !important;
	border-left: 1px solid #f05024 !important;
	border-collapse: collapse;
}
tbody td:last-child {
	border-right: 1px solid #f05024 !important;
}
tbody tr:last-child td {
	border-bottom: 1px solid #f05024 !important;
	text-align: left;
}
tbody tr:first-child {
	border-left: 1px solid #f05024 !important;
}
p {
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}
</style>-->
<title>Summary of Cost</title>
</head>

<body style="font-family: Arial; color: #f05024; font-style: normal; font-weight: bold;">
<p align="center" style="text-align: center; color: #1B607F"><span style="font-size: 20pt">Customer  Applications Department</span><br>
  <span>No. 12 General Luna  St., Iloilo City</span></p>
<p><span>&nbsp;</span></p>
	<span style="text-align: center; font-size: 16pt; color: #1B607F">SUMMARY OF COST</span>
	<span style="position: absolute; font-weight: bold; left: 1011px; top: 51px; padding: 5px 5px; right: 0px; display: block; border: none; margin-top: 20px; height: 14px; width: 138px;">Date: _________</span>
<table width="100%" border="1" cellspacing="0" cellpadding="0" bordercolor="#F0572D">
  <tr>
    <td colspan="6" valign="top">NAME:<br>
    <span style="text-align: center; color: #1B607F">Jocel T. Alibay</span></td>
  </tr>
  <tr>
    <td colspan="6" valign="top"><p><span>ADDRESS:</span><br>
      <span style="text-align: center; color: #1B607F">Alimodian, Iloilo</span></p></td>
  </tr>
  <tr>
    <td colspan="4"><p><span>Requested Service:</span><br>
      <span style="text-align: center; color: #1B607F">Permanent</span></p></td>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5"><p><span>1.) COST OF MATERIALS CHARGABLE TO CUSTOMER (VAT INCLUSIVE)</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>2.) COST OF LABOR CHARGABLE TO THE CUSTOMER</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>3.) PROPORTIONATE SHARING OF LINE EXTENSIONS COST</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>4.) GUARANTY DEPOSIT </span>(Estimated on month bill based    on the contracted load. Refundable when contract ceases.)<span> </span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>5.) SERVICE FEE</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>6.) VAT ON SERVICE FEE</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>7.) VAT ON LABOR</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td colspan="5"><p><span>8.) OTHERS</span></p></td>
    <td width="354"><p align="right"><span style="float: right; color: #1B607F; margin-right: 5px;">1,000,000.00</span></p></td>
  </tr>
  <tr>
    <td width="137" rowspan="2"><p><span>LESS:</span></p></td>
    <td colspan="4"><span>(</span><span>□</span><span> FOR OLD CUSTOMERS ONLY) – OLD GUARANTY DEPOSIT</span></td>
    <td width="354"><p align="right"><span>&nbsp;</span></p></td>
  </tr>
  <tr>
    <td colspan="4"><span>(</span><span>□</span><span> INITIAL DEPOSIT)</span></td>
    <td width="354"><p align="right"><span>&nbsp;</span></p></td>
  </tr>
  <tr>
    <td colspan="5" rowspan="2"><p align="center"><span>COMPUTATION OF THE GUARANTY    DEPOSIT</span></p></td>
    <td width="354" valign="top"><p><span>Net. Amount</span></p></td>
  </tr>
  <tr>
    <td width="354" valign="top"><p><span>&nbsp;</span></p></td>
  </tr>
</table>
<p><span>FORMULA:</span><br>
Guaranty Deposit = Total Load X Daily Operation X Current Rate X  Demand Factor / 1000</p>
<p><span>Where:</span></p>
<table bordercolor="#F0572D" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="191" rowspan="2"><br>
      Total Load </td>
    <td width="150" colspan="2" valign="top"><p>watts</p></td>
    <td width="150" valign="top"><p>Date Paid</p></td>
    <td width="150" rowspan="2"><p align="center">Amount Paid</p></td>
  </tr>
  <tr>
    <td width="150" colspan="2" valign="top"><p align="center">631957 </p></td>
    <td width="150" valign="top"><p align="center">12/24/2020</p></td>
  </tr>
  <tr>
    <td width="191" rowspan="2"><p>Estimated Daily Operation</p></td>
    <td width="150" colspan="2" valign="top"><p>hours</p></td>
    <td width="150" valign="top"><p>OR No.</p></td>
    <td width="150" valign="top"><p>Other Charges</p></td>
  </tr>
  <tr>
    <td width="150" colspan="2" valign="top"><p align="center">10</p></td>
    <td width="150" valign="top"><p align="center">999999</p></td>
    <td width="150" valign="top"><p align="center">12,345.67</p></td>
  </tr>
  <tr>
    <td width="191" rowspan="2"><p>Estimated Monthly Operation</p></td>
    <td width="150" colspan="2" valign="top"><p>days</p></td>
    <td width="150" valign="top"><p>OR No.</p></td>
    <td width="150" valign="top"><p>Guaranty Deposit</p></td>
  </tr>
  <tr>
    <td width="150" colspan="2" valign="top"><p align="center">30</p></td>
    <td width="150" valign="top"><p align="center">999999</p></td>
    <td width="150" valign="top"><p align="center">12,345.67</p></td>
  </tr>
  <tr>
    <td width="191" rowspan="2"><p>Current Average Rate</p></td>
    <td width="150" colspan="2" valign="top"><p>Pesos</p></td>
    <td width="150" valign="top"><p>Lot / Book</p></td>
    <td width="150" valign="top"><p>Service No.</p></td>
  </tr>
  <tr>
    <td width="150" colspan="2" valign="top"><p align="center">8,125.9</p></td>
    <td width="150" valign="top"><p align="center">999999</p></td>
    <td width="150" valign="top"><p align="center">12,345.67</p></td>
  </tr>
  <tr>
    <td width="191" rowspan="2"><p>Demand Factor</p></td>
    <td width="75" valign="top"><p>days</p></td>
    <td width="225" colspan="2" valign="top"><p>Rate Classification:</p></td>
    <td width="150"><p>&nbsp;</td>
  </tr>
  <tr>
    <td width="75" valign="top"><p align="center">30</p></td>
    <td width="225" colspan="2" valign="top"><p align="center">Residential</p></td>
    <td width="150"><p>&nbsp;</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>                        Prepared  by:                                                                     Checked  by:<br>
  ANNIE  A. ABELLO                                                           MARCELO  U. CACHO<br>
  CUSTOMER  APPLICATIONS                                                                        ADMINISTRATIVE  MANAGER<br>
  DEPARTMENT  HEAD                                                                                            Tel. No.  500-4290<br>
  Tel.  No. 500-4290 Local 120                                                                             </p>
</body>
</html>
